* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body, html {
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  width: 100vw;
  text-align: center; 
  background: radial-gradient(circle, #7590c6, #c0aab9); 
}

.intro {
  width: 50vw;
}

.title {
  margin-bottom: 20px;
  top:0;
}

.info {
  margin-bottom: 15px;
}

.dropdown1, .dropdown2 {
  padding: 10px;
}

.dropdowns {
  display: flex;
}

.pomodoros {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.input-box {
  border-radius: 15px;
  width: 200px;
  height: 52px;
}

.error-message {
  color: rgb(216, 5, 5);
}

#reset {
  margin-top: 10px;
}